{% extends 'Rendez-vous.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block body %}
    <h1>Consultation</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>IdConsultation</th>
            <td>{{ consultation.idConsultation }}</td>
        </tr>
        <tr>
            <th>Nom Client</th>
            <td>{{ client.nom }}</td>
        </tr>
        <tr>
            <th>Nom Coach</th>
            <td>{{ coach.nom }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ consultation.date ? consultation.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Heure</th>
            <td>{{ consultation.heure ? consultation.heure|date('H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('consultation_indexclient') }}">Retour</a>

    <a class="btn btn-success" href="{{ path('consultation_edit', {'idConsultation': consultation.idConsultation}) }}">Modifier</a>

    {{ include('consultation/_delete_formclient.html.twig') }}
{% endblock %}
